@charset "UTF-8";
/* CSS Document */
body	{	
		background-image:url('../Images/Back.png');
		background-color:#cccccc;
		} 

p, #computerChoice, #player1Choice 	{
		text-align: center;
		font-family: "Helvetica Neue",helvetica,sans-serif;
	    font-size: 13px;    
	    color: #452aff;
		}

div#result {
		text-align: center;
		font-family: "Helvetica Neue", helvetica, sans-serif;
  		font-size: 32px;    
  		color: #452aff;
    	text-transform: capitalize;
    	display:none;
    	padding: 20px;
		}

div#top {
		padding:5px;
		border-color:#452aff;
		border-width:3px;
		border-radius: 8px;
		}

div#one {
		padding:5px;
		border-style:dotted;
		border-color:#452aff;
		border-width:3px;
		border-radius: 8px;
		margin: 130px 180px;
		}

div#two {
		 border-style:solid;
		 border-color:#452aff;
		 border-width:120px;
		 border-radius: 8px;
		 background-color:white;
		 margin:5px;
		 }

img.centerit  {
		display: block;
		margin-left: auto;
		margin-right: auto;
		}

img.animate  {
		display:none; 
		}

/* http://css.maxdesign.com.au/floatutorial */			
#navlist img {
			margin: 0 20px;
			}

ul#navlist	{
			padding-top: 80px;
			margin: 0;
			list-style-type: none;
			float: left;
			width: 100%;
			color: #fff;
			text-align: center;
			}
			
ul#navlist li { 
			display: inline;
			text-align: center;
			}
			
ul#navlist li a {
			float: left;
			width: 5em;
			color: #fff;
			background-color: #036;
			padding: 0.2em 1em;
			text-decoration: none;
			border-right: 1px solid #fff;
			text-align: center;
			}



